<button class="orga-button mb-3" @onclick="AddNewChildToParentAsync">Add</button>

<ul class="list-group">
    @foreach (var childItem in ParentItem.ChildItems)
    {
        <li class="list-group-item">
            <input class="from-control" type="text" @bind-value="@childItem.Title" />
        </li>
    }
</ul>